{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <h1>Reassign a staff member</h1>
            <legend class="border-bottom mb-4">{{ legend }}</legend>

            <div class="form-group">
                {{ form.order_dropdown.label(class="form-control-label") }}
                {% if form.order_dropdown.errors %}
                    {{ form.order_dropdown(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.order_dropdown.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.order_dropdown(class="form-control form-control-lg") }}
                {% endif %}

                <div class="form-group">
                    {{ form.staff_dropdown.label(class="form-control-label") }}
                    {% if form.staff_dropdown.errors %}
                        {{ form.staff_dropdown(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.order_dropdown.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.staff_dropdown(class="form-control form-control-lg") }}
                    {% endif %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}