{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>Edit Number of {{item.name}} in Your Order</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>

            <div class="form-group">
                <h5>Current Quantity in Cart: {{current_quant}}</h5>
               {{ form.quantity.label(class="form-control-label") }}
                {% if form.quantity.errors %}
                    {{ form.quantity(class="form-control form-control-lg is-invalid") }}
                    <ul class="errors"> 
					{% for error in form.quantity.errors %}
						<li>{{ error }}</li>
					{% endfor %}
					</ul>
                {% else %}
                    {{ form.quantity(class="form-control form-control-lg") }}
                {% endif %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('place_order', current_order=order_id) }}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}
