{% extends "layout.html" %}
{% block content %}
    {% for order in order_items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <h2><a class="article-title" href="{{ url_for('update_order', order_id=order) }}">Order Number: {{ order }}</a></h2>
            </div>
            {% for item in order_items[order] %}
            <p class="article-content">Item ID: {{item[0]}} Item Name: {{item[1]}}. Quantity Ordered: {{item[2]}}</p>
            {% endfor %}
          </div>
        </article>
    {% endfor %}
{% endblock content %}
