{% extends "layout.html" %}
{% block content %}
    {% for row in joined_m_n %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ row }}</a>		  
              <small class="text-muted">{{ row['orderid'] }}  {{ row['itemid'] }}</small>		  
            </div>
			<h2><a class="article-title" href="{{ url_for('assign', orderid=row.orderid, itemid=row.itemid) }}">OrderID: {{ row.orderID }}</a></h2>
           
          </div>
        </article>
     {% endfor %}
{% endblock content %}