{% extends "layout.html" %}
{% block content %}
    {% for row in outString %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ row }}</a>		  
              <small class="text-muted">{{ row['mgr_ssn'] }} </small>		  
            </div>
			<h2><a class="article-title" href="{{ url_for('dept', dnumber=row.dnumber) }}">{{ row.dname }}</a></h2>
           
          </div>
        </article>
     {% endfor %}
{% endblock content %}